.searchListNtb{
    margin: 10px 10px 0 10px;
}

.tablaListNtb{
    margin: 0 10px 0 10px;
}

.btnSearchNtb, .btnResetTable, .btnVolverMenu{
    margin: 10px;
}

@media(max-width: 500px){
    /* .modalInfoNtb, .titleNtb{
        color: aqua;
    } */
    th,td{
       font-size: 12px;
    }
}